*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-image: radial-gradient(circle at -20.44% 56.16%, #ffe9ee 0, #efdcde 16.67%, #d5cbcc 33.33%, #b6b7b7 50%, #97a3a4 66.67%, #7e9395 83.33%, #6a868b 100%);}